<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<title>Add Balance </title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trade Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.marquee.min.js" %}"></script>
<!-- //js -->
<link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
	<script type="text/javascript" src="{% static "js/PaymentValidator.js" %} "></script>
</head>

<body>
<!-- header -->
	<div class="header">
		<div class="w3ls_header_top">
			<div class="container">
					<div class="w3l_header_left">
					<ul class="w3layouts_header">
						<li class="w3layouts_header_list">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
									<div class="mega-dropdown-menu">
										<ul class="dropdown-menu w3_dropdown">
											<li><a href="#">English</a></li>
											<li><a href="#">Hindi</a></li>
										</ul>
									</div>
								</li>
								<li>
									<i>|</i>
								</li>
							</ul>
						</li>
						<li class="w3layouts_header_list">
							<a href="/login/">Login To Trade</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="/faq/">FAQ</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="/contact/">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="w3l_header_right">
					<h2><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+(000) 123 456 678</h2>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="w3ls_header_middle">
			<div class="container">
				<div class="agileits_logo">
					<h1><a href="/home/"><span>World</span> of Commerce<i>Trade anytime anywhere</i></a></h1>
				</div>
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="text" placeholder="Search" required="">
						<select id="agileinfo_search" name="agileinfo_search">
							<option value="commodities">Commodities</option>
							<option value="navs">NAVs</option>
							<option value="quotes">Quotes</option>
							<option value="videos">Videos</option>
							<option value="news">News</option>
							<option value="notices">Notices</option>
							<option value="all">All</option>
						</select>
						<input type="submit" value="Search">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="trade_navigation">
		<div class="container">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Main Nav Bar START-->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<nav class="wthree_nav">
						<ul class="nav navbar-nav nav_1" style="width: 100%;">
							<li><a href="/home/">Home</a></li>
							<li><a href="/equity/">Live Market Watch</a></li>
							<!--li><a href="news/">News</a></li> -->

							<li><a href="/contact/">Contact Us</a></li>
							<li><a href="/single/">Past Stock Data</a></li>
							<li style="float: right;"><a href="/signup/" id="user-register" >Register</a> </li>
						    <li style="float: right;"><a href="/login/" id="user-login">Login</a> </li>
							<script type="text/javascript" src="{% static "js/cookieChecker.js" %}" ></script>
	{% if DBalance == False %}

{% else %}
<li style="float: right;"><a href="/user/">Balance : {{DBalance}}</a></li>
{% endif %}
						</ul>
					</nav>
				</div>
				<!-- Main Nav Bar END -->
			</nav>
		</div>
	</div>
<!-- //navigation -->

<!-- equity -->
	<div class="equity">
		<div class="container">
			<div class="row">
        <center>
			<div class="col-md-12">
                <h2>Add balance to your Account</h2>
    <br><br><br>
                <form action="/balance-check/" method="POST" onsubmit="return validator_js();">
        <br>
					<label for = "Card-Number">Enter Card Number</label>
                    <input type = "number" name="Card-Number" id="Card-Number" required class = "form-control"  placeholder="12345567890123456" style="width:250px;"/><span id = "card_number_invalid" style="color:red; display:none;">Invalid Card Number</span><p>Skip the '-' between the Number</p> </br>
					<label for = "Card-Exp">Enter Card Expiry</label><span id="card_exp_invalid" style="color:red; display:none;"> Invalid Expiry Date</span>
                    <input type = "number" name="Card-Exp1" id="Card-Exp1" required class= "form-control" placeholder="MM" style="width:250px;"/>
					<input type = "number" name="Card-Exp2" id="Card-Exp2" required class= "form-control" placeholder="YY" style="width:250px;"/></br>
					<label for = "CVV" >Enter Card CVV</label><span id="invalid_cvv" style="color:red; display:none;"> Invalid CVV</span>
					<input type = "password" name="Card-CVV" id="Card-CVV" required class= "form-control" placeholder="***" style="width:250px;" /></br>
					<label for = "Amount" >Enter Amount you want to add.</label><span id="amount_invalid" style="color:red; display:none;"> Invalid Amount</span>
					<input type = "number" name="Amount" id="Amount"  required class= "form-control" placeholder="Amount" style="width:250px;" min="0"/></br>
        <br>
                    <input type="submit" value="Submit" name="Submit" class= "btn btn-info" />
                </form>
            </div>
        </center>
        </div>
    </div>
<!-- footer -->
<div class="footer" style="position:fixed; width:100%; bottom:0; ">
	<div class="container">
		<ul class="agileits_w3layouts_footer_info">
			<li><a href="/home/">Home</a><i>|</i></li>
			
			<li><a href="/about/">About Us</a></li>
			
		</ul>
	</div>
</div>
<!-- //footer -->
<!-- stacked-graph -->
	<script type="text/javascript" src="{% static "js/raphael.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.enumerable.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tufte-graph.js" %}"></script>
<!-- //stacked-graph -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>