<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trade Market a Corporate Business Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Trade Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
	<link class="include" rel="stylesheet" type="text/css" href="{% static "css/jquery.jqplot.css" %}" />
	<!-- calender -->
	<link type="text/css" href="{% static "css/jquery.simple-dtpicker.css" %}" rel="stylesheet" />
	<!-- //calender -->
	<!-- different-chart-bar -->
	<link rel="stylesheet" href="{% static "css/chart.min.css" %}">
	<!-- //different-chart-bar -->
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.marquee.min.js" %}"></script>
	<!-- js -->
	<!-- pop-up -->
	<link href="{% static "css/popuo-box.css" %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //pop-up -->
	<!-- left-chart -->
	<script src="{% static "js/jquery.flot.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/jquery.flot.animator.min.js" %}" type="text/javascript"></script>
	<!-- //left-chart -->
	<link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
	<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
	<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
	</script>
	<!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
<div class="header">
	<div class="w3ls_header_top">
		<div class="container">
			<div class="w3l_header_left">
				<ul class="w3layouts_header">
					<li class="w3layouts_header_list">
						<ul>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
								<div class="mega-dropdown-menu">
									<ul class="dropdown-menu w3_dropdown">
										<li><a href="#">English</a></li>
										<li><a href="#">Hindi</a></li>
									</ul>
								</div>
							</li>
							<li>
								<i>|</i>
							</li>
						</ul>
					</li>
					<li class="w3layouts_header_list">
						<a href="/login/">Login To Trade</a><i>|</i>
					</li>
					<li class="w3layouts_header_list">
						<a href="/faq/">FAQ</a><i>|</i>
					</li>
					<li class="w3layouts_header_list">
						<a href="/contact/">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="w3l_header_right">
				<h2><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+(000) 123 456 678</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="w3ls_header_middle">
		<div class="container">
			<div class="agileits_logo">
				<h1><a href="/home/"><span>World</span> of Commerce<i>Trade anytime anywhere</i></a></h1>
			</div>
			<div class="agileits_search">
				<form action="#" method="post">
					<input name="Search" type="text" placeholder="Search" required="">
					<select id="agileinfo_search" name="agileinfo_search">
						<option value="commodities">Commodities</option>
						<option value="navs">NAVs</option>
						<option value="quotes">Quotes</option>
						<option value="videos">Videos</option>
						<option value="news">News</option>
						<option value="notices">Notices</option>
						<option value="all">All</option>
					</select>
					<input type="submit" value="Search">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="trade_navigation">
	<div class="container">
		<nav class="navbar nav_bottom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Main Nav Bar START-->
			<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<nav class="wthree_nav">
					<ul class="nav navbar-nav nav_1" style="width: 100%;">
						<li><a href="/home/">Home</a></li>
						<li><a href="/equity/">Live Market Watch</a></li>
						<!--<li><a href="news/">News</a></li>-->

						<li><a href="/contact/">Contact Us</a></li>
						<li><a href="/single/">Past Data Stock</a></li>
						<li style="float: right;"><a href="/signup/" id="user-register" >Register</a> </li>
						<li style="float: right;"><a href="/login/" id="user-login">Login</a> </li>
						<li style="float: right;"><a href="/user/">Balance</a> </li>
					</ul>
				</nav>
			</div>
			<!-- Main Nav Bar END -->
		</nav>
	</div>
</div>
<!-- //navigation -->
<script type="text/javascript" src="{% static "js/cookieChecker.js" %}" ></script>
</script>
<!-- Hidden message for registered users -->
<div class="hidden-user-message" style="padding-bottom: 10px; padding-top: 10px; background-color: greenyellow;" id="hidden-div">
	<div class="container">
		<div class="row" >
			<p align="center">You have been registered Successfully. Proceed to <a href="/login/">Login</a>.</p>
		</div>
	</div>
</div>
<script type="text/javascript">
    var URL = window.location.href;
    var result = URL.endsWith("/home-registered/");
    if (!result){
        var div = document.getElementById("hidden-div");
        div.style.display = "none";
    }
</script>
<!-- //Hidden message for registered users -->
<!-- banner -->
<div class="banner">
	<section class="slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="w3_agile_banner_text banner1">
						<h3>trade over world's leading stock exchanges</h3>
						<div class="more">
							<a href="/single/" class="button button--isi button--text-thick button--text-upper button--size-s"><span>Learn More</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="w3_agile_banner_text banner2">
						<h3>creating wealth with real estate investment</h3>
						<div class="more">
							<a href="/single/" class="button button--isi button--text-thick button--text-upper button--size-s"><span>Learn More</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="w3_agile_banner_text banner3">
						<p>national pension scheme</p>
						<h3>start today for happy retirement</h3>
						<div class="more">
							<a href="/single/" class="button button--isi button--text-thick button--text-upper button--size-s"><span>Learn More</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="w3_agile_banner_text banner4">
						<h3>open a savings account & enjoy unique benefits</h3>
						<div class="more">
							<a href="/single/" class="button button--isi button--text-thick button--text-upper button--size-s"><span>Learn More</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="w3_agile_banner_text banner5">
						<h4>grow your money with trade market</h4>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- flexSlider -->
	<link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css" media="screen" property="" />
	<script defer src="{% static "js/jquery.flexslider.js" %}"></script>
	<script type="text/javascript">
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
	</script>
	<!-- //flexSlider -->
</div>
<!-- //banner -->
<!-- news-original -->
<div class="news-original">
	<div class="container">
		<div class="agileinfo_news_original_grids">


		<div class="col-md-12 agileinfo_news_original_grids_left1">
		<h2>World Of Commerce</h2>
		<p>Stock Exchange is one essential constituent of capital market. Stock Exchange is a composed market for the buy and offer of modern and money related security. It is advantageous place where exchanging securities is led in deliberate way i.e. according to specific principles and controls. </p>
		<p><span>
			
			It performs different capacities and offers helpful administrations to speculators and acquiring organizations. It is a venture go-between and encourages financial and mechanical advancement of a nation.

		</span></p>
		<p><br>
			<span>
				It is a composed market where Government securities, offers, securities and debentures of the exchanging units are routinely executed. Stock trade gives a place to the purchasers and dealers of the offers and securities. Stock trade demonstrates about the great or awful strength of economy. In the event that the offer costs are rising it implies nation is running on the way of improvement and success.
Securities exchange costs are communicated as far as their separate records of the organizations recorded on them -, for example, the American S&P 500, the Japanese Nikkei 225, the Russian RTSI, the Indian SENSEX and the British FTSE 100. </p>
<p><span>
In India two stock trades are Bombay Stock Exchange (BSE) (built up in 1875) and National Stock Exchange of India (NSE). BSE is more established of the two. The Indices of the two trades are known as Sensex (30 most exchanged organization value list) and Nifty (fifty most exchanged organization value record). 
</span>
Prior the exchanging used to occur physically and through physical trade of securities.
<p><span> However, them two are currently exchanged on-line, and along these lines are virtual stock trades. During the time spent modernization now it has been compulsory for each financial specialist to have a dematerialized account opened with any of the storehouse Participants (DP). Dematerialized account (demat account)is to store stocks in gadgets frame. 
</span></p>
<p><span>
It is much the same as opening a ledger to store your cash. Presently no one is intrigued to keep partakes in physical structures and going for electronic based documenting of offers. 

A demat account is to be opened with any of the vault members (DP). A DP interfaces financial specialists with the safes. In India we have two storehouses - NSDL (National Securities Depository Ltd) and CDSL (Central Depository Services Ltd).



			</span>
		</p>
</div>
			
			<div class="agileits_news_chart">
				<div class="ui-widget ui-corner-all">
					<div class="ui-widget-content ui-corner-bottom" >
						<div id="chart1"></div>
					</div>
				</div>
			</div>
			<div class="w3layouts_research">
				
			</div>
			<div class="wthree_performance">
				<!--<h3><i class="fa fa-users" aria-hidden="true"></i>Performance</h3>-->
				<div class="w3_agileits_sector">
					
					<div class="w3_agileits_sector_right">
						
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
					</div>
					<div class="w3_agileits_sector_right">
						
					</div>
					<div class="clearfix"> </div>
				</div>
				
			</div>
				<div class="clearfix"> </div>
				<!-- pop-up-box -->
				<script src="{% static "js/jquery.magnific-popup.js" %}" type="text/javascript"></script>
				<!--//pop-up-box -->
				<script>
                    $(document).ready(function() {
                        $('.w3_play_icon').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
				</script>
			</div>
		</div>
		<div class="col-md-3 agileinfo_news_original_grids_right">
			<div class="w3_stocks">
				
		<div class="clearfix"> </div>
	</div>
</div>
</div>
<!-- //news-original -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<ul class="agileits_w3layouts_footer_info">
			<li><a href="/home/">Home</a><i>|</i></li>
			<li><a href="/news/">Markets</a><i>|</i></li>
			<li><a href="/portfolio/">portfolio</a><i>|</i></li>
			<li><a href="/about/">About Us</a></li>
			
		</ul>
	</div>
</div>
<!-- //footer -->
<!-- script for marque -->
<script>
    $('.marquee').marquee({
        gap: 100,
        delayBeforeStart: 0,
        direction: 'left',
        duplicated: true,
        pauseOnHover: true
    });
</script>
<script class="include" type="text/javascript" src="{% static "js/jquery.jqplot.js" %}"></script>
<script class="include" type="text/javascript" src="{% static "js/jqplot.dateAxisRenderer.js" %}"></script>
<script class="include" type="text/javascript" src="{% static "js/jqplot.logAxisRenderer.js" %}"></script>
<script class="include" type="text/javascript" src="{% static "js/jqplot.canvasTextRenderer.js" %}"></script>
<script class="include" type="text/javascript" src="{% static "js/jqplot.canvasAxisTickRenderer.js" %}"></script>
<script class="include" type="text/javascript" src="{% static "js/jqplot.highlighter.js" %}"></script>
<!-- //revenue-chart -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>