<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Live Stock Watch</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trade Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.marquee.min.js" %}"></script>
<!-- //js -->
<link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

</head>
<script src="{% static "js/keyEvent.js" %}"></script>
<body onkeypress="return myKeyPress(event)">
<!-- header -->
	<div class="header">
		<div class="w3ls_header_middle">
			<div class="container">
				<div class="agileits_logo">
					<h1><a href="/home/"><span>Trade</span> Market<i>Trade anytime anywhere</i></a></h1>
				</div>
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="text" placeholder="Search" required="">
						<select id="agileinfo_search" name="agileinfo_search">
							<option value="commodities">Commodities</option>
							<option value="navs">NAVs</option>
							<option value="quotes">Quotes</option>
							<option value="videos">Videos</option>
							<option value="news">News</option>
							<option value="notices">Notices</option>
							<option value="all">All</option>
						</select>
						<input type="submit" value="Search">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="trade_navigation">
		<div class="container">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Main Nav Bar START-->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<nav class="wthree_nav">
						<ul class="nav navbar-nav nav_1" style="width: 100%;">
							<li><a href="/home/">Home</a></li>
							<li><a href="/equity/">Live Market Watch</a></li>
							<!-- <li><a href="news/">News</a></li> -->
							
							<li><a href="/service/">Contact Us</a></li>
							<li style="float: right;"><a href="/signup/" id="user-register" >Register</a> </li>
						    <li style="float: right;"><a href="/login/" id="user-login">Login</a> </li>
	<script type="text/javascript" src="{% static "js/cookieChecker.js" %}" ></script>
	{% if DBalance == False %}

{% else %}
<li style="float: right;"><a href="/user/">Balance : {{DBalance}}</a></li>
{% endif %}
						</ul>
					</nav>
				</div>
				<!-- Main Nav Bar END -->
			</nav>
		</div>
	</div>

{% if Balance_avail and session_exist %}
<div class="container" style="background-color: black; padding:15px 15px 15px 15px; width:100%">
	<div class="row">
		<center>
		<div class="col-md-12"><p style="color:white;"><strong>Insufficient Balance for transaction.</strong></p></div>
		</center>
	</div>
</div>
{% endif %}

<!-- //navigation -->

</script>
<!-- single -->
<div class="container" style="padding-top: 15px;">
	<center>
	<div class="row">
		<div class="col-md-12">
<form class="form-inline" action="//" method="post">
  <div class="form-group" style="padding-left: 10px;">
    <input type="hidden" class="form-control" name="stock_id" > <!-- Set stock id here received from django-->
  </div>
  <div class="form-group" style="padding-left: 10px;">
    <label for="stock_price">Stock Price</label>
    <input type="number" class="form-control" id="stock_price" name="stock_price" disabled> <!-- Set stock price here received from django-->
  </div>
  <div class="form-group" style="padding-left: 10px;">
    <label for="stock_qty">Quantity</label>
    <input type="number" min="1" class="form-control" id="stock_qty" placeholder="Minimum 1">
  </div>
	<div class="form-group" style="padding-left: 10px;">
    <label for="stock_brokerage">Brokerage per transaction</label>
    <input type="text" class="form-control" id="stock_brokerage" value="0.50%" disabled>
  </div>
    <button type="submit" class="btn btn-success" name="Buy">Buy</button>
	<button type="submit" class="btn btn-info" name="Sell">Sell</button>
</form>
		</div>
	</div>
	</center>
</div>

	<div class="container">
		<div class="agileinfo_news_original_grids w3_agile_news_market_grids">
			<div class="container" id="news-original">
    <hr />

						<div class="row">
						<div class="col-sm-12">
							<center>
							<img class="img-responsive" src= "{% static "images/graphLive.png" %}" alt=" " class="img-responsive" style="width:streach;" >
							</center>
						</div>

						</div>

					<div class="row" style="padding-top:70px;">
    					<hr />
						<div class="col-sm-3">
							<div class="form-group">
								<label for="price">Price</label>
								<input type="text" name="Price" class="form-control" value="{% if data.6 %} {{ data.6 }}	{% else %} NaN {% endif %}" id="price"  readonly>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="Change%">Change %</label>
								<input type="text" name="change%" class="form-control" value="{% if data.9 %} {{ data.9 }}	{% else %} NaN {% endif %}" id="Change%" readonly>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
    							<label for="eps">EPS</label>
								<input type="text" name="EPS" class="form-control" value="{% if data.11 %} {{ data.11 }}	{% else %} NaN {% endif %}" id="eps" readonly>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="form-group">
								<label for="cap">CAP</label>
								<input type="text" name="CAP" class="form-control" value="{% if data.15 %} {{ data.15 }}	{% else %} NaN {% endif %}" id="cap" readonly>
							</div>
						</div>
					</div>
					
					<div class="row" style="padding-top:70px;">
    					
						<div class="col-sm-3">
							<div class="form-group">
								<label for="divident">Divident</label>
								<input type="text" name="Divident" class="form-control" value="{% if data.17 %} {{ data.17 }}	{% else %} NaN {% endif %}" id="divident"  readonly>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="currentratio">Current Ratio</label>
								<input type="text" name="current_ratio" class="form-control" value="{% if data.19 %} {{ data.19 }}	{% else %} NaN {% endif %}" id="currentratio" readonly>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
    							<label for="retavginvest">Return on avg. Investment</label>
								<input type="text" name="ret_avg_invest" class="form-control" value="{% if data.26 %} {{ data.26 }}	{% else %} NaN {% endif %}" id="retavginvest" readonly>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="form-group">
								<label for="Revenue">Revenue</label>
								<input type="text" name="revenue" class="form-control" value="{% if data.33 %} {{ data.33 }} {% else %} NaN {% endif %}" id="Revenue" readonly>
							</div>
						</div>
					</div>
					
					<div class="row" style="padding-top:70px;">
    					
						<div class="col-sm-3"></div>
						
						<div class="col-sm-3">
							<div class="form-group">
								<label for="netincome">Net Income</label>
								<input type="text" name="net_income" class="form-control" value="{% if data.34 %} {{ data.34 }}	{% else %} NaN {% endif %}" id="netincome"  readonly>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="ebitda">EBITDA</label>
								<input type="text" name="EBITDA" class="form-control" value="{% if data.35 %} {{ data.35 }}	{% else %} NaN {% endif %}" id="ebitda" readonly>
							</div>
						</div>
						
						<div class="col-sm-3"> </div>
					
					</div>
					
			</div>
	</div>
</div>
</div>
</form>
<!-- //single -->
<!-- footer -->
<div class="footer" id="footer">
	<div class="container">
		<ul class="agileits_w3layouts_footer_info">
			<li><a href="/home/">Home</a><i>|</i></li>
			<li><a href="/news/">Markets</a><i>|</i></li>
			<li><a href="/portfolio/">portfolio</a><i>|</i></li>
			<li><a href="/about/">About Us</a><i>|</i></li>
			<li><a href="/sitemap/">sitemap</a></li>
		</ul>
	</div>
</div>
<!-- //footer -->
<!-- stacked-graph -->
	<script type="text/javascript" src="{% static "js/raphael.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.enumerable.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tufte-graph.js" %}"></script>
	 <script type="text/javascript">
      $(document).ready(function () {

        jQuery('#stacked-graph').tufteBar({
          data: [
            [[1.5, 1.0, 0.51], {label: '2013'}],
            [[2.0, 1.03, 0.6], {label: '2014'}],
            [[2.4, 0.9,  2.0], {label: '2015'}],
            [[1.5, 2.6, 0.45], {label: '2016'}]
          ],
          barLabel:  function(home) {
            amount = ($(this[0]).sum() * 10000).toFixed(0);
            return '$' + $.tufteBar.formatNumber(amount);
          },
          axisLabel: function(home) { return this[1].label },
          legend: {
            data: ["Finance", "Metal", "Telecom"]
          }
        });
      });
    </script>
<!-- //stacked-graph -->
<!-- script for marque -->
	<script>
	  $('.marquee').marquee({
		gap: 100,
		delayBeforeStart: 0,
		direction: 'left',
		duplicated: true,
		pauseOnHover: true
	});
	</script>
	
<!-- //script for marque -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>