<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- //for-mobile-apps -->
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.marquee.min.js" $}:></script>
	<!-- //js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
	<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
	<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
	</script>
	<!-- start-smoth-scrolling -->

	<title></title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static "css/style-sign-up.css" %}">
	<link rel="stylesheet" href="{% static "css/set1-sign-up.css" %}">

	<!--Google Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
</head>

<body>
<!-- header -->
<div class="header">
	<div class="w3ls_header_top">
		<div class="container">
			<div class="w3l_header_left">
				<ul class="w3layouts_header">
					<li class="w3layouts_header_list">
						<ul>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
								<div class="mega-dropdown-menu">
									<ul class="dropdown-menu w3_dropdown">
										<li><a href="#">English</a></li>
										<li><a href="#">Hindi</a></li>
									</ul>
								</div>
							</li>
							<li>
								<i>|</i>
							</li>
						</ul>
					</li>
					<li class="w3layouts_header_list">
						<a href="login.html">Login To Trade</a><i>|</i>
					</li>
					<li class="w3layouts_header_list">
						<a href="faq.html">FAQ</a><i>|</i>
					</li>
					<li class="w3layouts_header_list">
						<a href="contact.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="w3l_header_right">
				<h2><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+(000) 123 456 678</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="w3ls_header_middle">
		<div class="container">
			<div class="agileits_logo">
				<h1><a href="index.html"><span>Trade</span> Market<i>Trade anytime anywhere</i></a></h1>
			</div>
			<div class="agileits_search">
				<form action="#" method="post">
					<input name="Search" type="text" placeholder="Search" required="">
					<select id="agileinfo_search" name="agileinfo_search">
						<option value="commodities">Commodities</option>
						<option value="navs">NAVs</option>
						<option value="quotes">Quotes</option>
						<option value="videos">Videos</option>
						<option value="news">News</option>
						<option value="notices">Notices</option>
						<option value="all">All</option>
					</select>
					<input type="submit" value="Search">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="trade_navigation">
	<div class="container">
		<nav class="navbar nav_bottom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Main Nav Bar START-->
			<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<nav class="wthree_nav">
					<ul class="nav navbar-nav nav_1">
						<li><a href="index.html">Home</a></li>
						<li><a href="equity.html">Live Market Watch</a></li>
						<!-- <li><a href="news.html">News</a></li> -->
						<li><a href="service.html">Contact Us</a></li>
					</ul>
				</nav>
			</div>
			<!-- Main Nav Bar END -->
		</nav>
	</div>
</div>
<!-- //navigation -->

<div id="main-wrapper">
<script type="text/javascript" src="{% static "js/validator.js" %}"></script>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 left-side">
				<header>
					<span>Need an account?</span>
					<h3>Create Account<br>Make Profits</h3>
				</header>
			</div>
			<div class="col-md-6 right-side">

        <!--JS and HTML divs for validatation Starts-->
        <div id="signup-registered">
        <span class="input input--hoshi" style="color:red;">You are already a member. Proceed to login.</span>
    </div>
    <script type="text/javascript">
    var URL = window.location.href;
    var result = URL.endsWith("/signup-registered/");
    if (!result){
        var div = document.getElementById("signup-registered");
        console.log(div);
        div.style.display = "none";
    }
	</script>

	<div id="signup-unregistered">
				<span class="input input--hoshi" style="color:red;">You are not registered. Sign-up first</span>
	</div>
	<script type="text/javascript">
        var URL = window.location.href;
        var result = URL.endsWith("/signup-unregistered/");
        if (!result){
            var div = document.getElementById("signup-unregistered");
            console.log(div);
            div.style.display = "none";
        }
	</script>
	<!--JS and HTML divs for validatation Ends-->
				<form method="post" action="/home-registered/" onsubmit="">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" id="name" name="name" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="name">
            <span class="input__label-content input__label-content--hoshi">Name</span>
          </label>
        </span>
				<span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" id="email" name="email" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
            <span class="input__label-content input__label-content--hoshi">E-mail</span>
          </label>
        </span>
				<span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" id="number" name="number" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="number">
            <span class="input__label-content input__label-content--hoshi">Phone Number</span>
          </label>
        </span>
				<span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" id="password"  name="password"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
            <span class="input__label-content input__label-content--hoshi">Password</span>
          </label>
        </span>
				<span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" id="password1" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password1">
            <span class="input__label-content input__label-content--hoshi">Repeat Passowrd</span>
          </label>
        </span>
				<div class="cta">
					<button class="btn btn-primary pull-left" type="submit" onclick="return validator();">
						Sign-Up Now
					</button>
					<span><a href="/login/">I am already a member</a></span>
				</div>
				</form>
			</div>
		</div>
	</div>

</div> <!-- end #main-wrapper -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<ul class="agileits_w3layouts_footer_info">
			<li><a href="index.html">Home</a><i>|</i></li>
			<li><a href="news.html">Markets</a><i>|</i></li>
			<li><a href="portfolio.html">portfolio</a><i>|</i></li>
			<li><a href="about.html">About Us</a><i>|</i></li>
			<li><a href="sitemap.html">sitemap</a></li>
		</ul>
	</div>
</div>
<!-- //footer -->
<!-- stacked-graph -->
<script type="text/javascript" src="{% static "js/raphael.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.enumerable.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.tufte-graph.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        jQuery('#stacked-graph').tufteBar({
            data: [
                [[1.5, 1.0, 0.51], {label: '2013'}],
                [[2.0, 1.03, 0.6], {label: '2014'}],
                [[2.4, 0.9,  2.0], {label: '2015'}],
                [[1.5, 2.6, 0.45], {label: '2016'}]
            ],
            barLabel:  function(index) {
                amount = ($(this[0]).sum() * 10000).toFixed(0);
                return '$' + $.tufteBar.formatNumber(amount);
            },
            axisLabel: function(index) { return this[1].label },
            legend: {
                data: ["Finance", "Metal", "Telecom"]
            }
        });
    });
</script>
<!-- //stacked-graph -->
<!-- script for marque -->
<script>
    $('.marquee').marquee({
        gap: 100,
        delayBeforeStart: 0,
        direction: 'left',
        duplicated: true,
        pauseOnHover: true
    });
</script>

<!-- //script for marque -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->


<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static "js/scripts-sign-up.js" %}"></script>
<script src="{% static "js/classie-sign-up.js" %}"></script>
<script>
    (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function() {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function() {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
            // in case the input is already filled..
            if( inputEl.value.trim() !== '' ) {
                classie.add( inputEl.parentNode, 'input--filled' );
            }

            // events:
            inputEl.addEventListener( 'focus', onInputFocus );
            inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
            classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
            if( ev.target.value.trim() === '' ) {
                classie.remove( ev.target.parentNode, 'input--filled' );
            }
        }
    })();
</script>

</body>
</html>