<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Trade Market a Corporate Business Category Flat Bootstrap Responsive Website Template | Sitemap :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trade Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.marquee.min.js" %}"></script>
<!-- //js -->
<link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="w3ls_header_top">
			<div class="container">
				<div class="w3l_header_left">
					<ul class="w3layouts_header">
						<li class="w3layouts_header_list">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
									<div class="mega-dropdown-menu">
										<ul class="dropdown-menu w3_dropdown">
											<li><a href="#">English</a></li> 
											<li><a href="#">Hindi</a></li>
										</ul>              
									</div>	
								</li>
								<li>
									<i>|</i>
								</li>
							</ul>
						</li>
						<li class="w3layouts_header_list">
							<a href="/login/">Login To Trade</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="/faq/">FAQ</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="/contact/">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="w3l_header_right">
					<h2><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+(000) 123 456 678</h2>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="w3ls_header_middle">
			<div class="container">
				<div class="agileits_logo">
					<h1><a href="/home/"><span>Trade</span> Market<i>Trade anytime anywhere</i></a></h1>
				</div>
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="text" placeholder="Search" required="">
						<select id="agileinfo_search" name="agileinfo_search">
							<option value="commodities">Commodities</option>
							<option value="navs">NAVs</option>
							<option value="quotes">Quotes</option>
							<option value="videos">Videos</option>
							<option value="news">News</option>
							<option value="notices">Notices</option>
							<option value="all">All</option>
						</select>
						<input type="submit" value="Search">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="trade_navigation">
		<div class="container">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Main Nav Bar START-->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<nav class="wthree_nav">
						<ul class="nav navbar-nav nav_1" style="width: 100%;">
							<li><a href="/home/">Home</a></li>
							<li><a href="/equity/">Live Market Watch</a></li>
							<!--<li><a href="/news/">News</a></li>-->
							
							<li><a href="/service/">Contact Us</a></li>
							<li style="float: right;"><a href="/signup/" id="user-register" >Register</a> </li>
						    <li style="float: right;"><a href="/login/" id="user-login">Login</a> </li>
						</ul>
					</nav>
				</div>
				<!-- Main Nav Bar END -->
				<!-- Main Nav Bar END -->
			</nav>
		</div>
	</div>
<!-- //navigation -->
<script type="text/javascript" src="{% static "js/cookieChecker.js" %}" >
</script>
<!-- site-map -->
	<div class="site-map">
		<div class="container">
			<div class="col-md-3 w3layouts_site_map_left">
				<div class="w3layouts_site_map_left_grid">
					<h3>Live Market</h3>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Live Watch</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Pre-Open Market</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Equity Stock</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Equity Derivatives</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Currency Derivatives</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">NSE Bond Futures</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">/home</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Stocks in Call Auction</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">SLB</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Option Chain</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Global Indices Derivatives</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Equity Derivatives</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Currency Derivatives</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Live Analysis</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Map of the Market</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Top Ten Gainers / Losers&nbsp;</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Most Active Securities / Contracts</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Currency Derivatives</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Most Active Securities</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Most Active Calls</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Most Active Underlying</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Most Active Puts</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Most Active Contracts</a></li>
								</ul>
							</li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Advances / Declines</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">New 52 Week High Low</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Charts</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Price Band Hitters</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Tools</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Margin Calculator</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">NSE Paathshaala</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">My NSE</a></li>
						</ul>
					</div>
				</div>
				<div class="w3layouts_site_map_left_grid">
					<h3>Education</h3>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Our Education Program</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">About NCFM</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">NSE FinBasics</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Updates &amp; Announcements</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">NSE Rapid Series</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Financial Literacy Program</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Visit to NSE Program</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Management Development Program</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Contact Us</a></li>
						</ul>
						
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Current Program</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Banking &amp; Financial Services</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Global Financial Markets</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Joint Certification</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">BBA/MBA Programs</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Other Post Graduate Programs</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3layouts_site_map_left">
				<div class="w3layouts_site_map_left_grid">
					<h3>Products</h3>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Capital Market</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Equities</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Current Market Reports</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Historical Data</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">About Equities</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Current Market Reports</a></li>
								</ul>
							</li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Indices</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Current Market Reports</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Historical Data</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">About Indices</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Comparison Reports</a></li>
								</ul>
							</li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Mutual Funds</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Exchange Traded Funds</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Sovereign Gold Bonds Scheme</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Derivatives</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Equity Derivatives</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Current Market Reports</a>
										<ul>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Daily Reports</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Monthly Reports</a></li>
										</ul>
									</li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Historical Data</a>
										<ul>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Business Growth</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Mode of Trading</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Internet Trading</a></li>
										</ul>
									</li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">About Equity Derivatives</a></li>
								</ul>
							</li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Currency Derivatives</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Debt</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Debt Segment</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Current Market Reports</a>
										<ul>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Daily Reports</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Weekly Reports</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Monthly Reports</a></li>
										</ul>
									</li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Historical Data</a>
										<ul>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Security wise Trades Data</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Trade Statistics / Turnover</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Archives of Daily Reports</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Archives of Weekly Reports</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Archives of Monthly Reports</a></li>
										</ul>
									</li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">About Trade Reporting</a>
										<ul>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Trading</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Settlement</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Products &amp; Services</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Issue Descriptor</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Corporate Bonds</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Trackers</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Bank Nifty</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Global Indices</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">India VIX</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3layouts_site_map_left">
				<div class="w3layouts_site_map_left_grid">
					<h3>Corporates</h3>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Listing on NSE</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="single/">Benefits of Listing</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Listing on Capital Market(CM)</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">IPO &amp; New Listing</a>
										<ul>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Eligibility Criteria</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Process</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Fees</a></li>
											<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Listing Agreement</a></li>
										</ul>
									</li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Debt - Public Issue</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Indian Depository Receipts</a></li>
								</ul>
							</li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Further Issues Listing</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Listing of Mutual Fund</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Listing on Debt Segment</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Eligibility Criteria</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Process</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Listing Agreement</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Fees</a></li>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Issue Descriptor</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Securities Information</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Listed Securities</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Mutual Funds / ETFs</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Recent Listings</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Forthcoming Listings</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Issuer Offer documents</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Corporate Information</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Announcements</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Board Meetings</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Result Calendar</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Corporate Actions</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Financial Results</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid">
						<h3>Technology</h3>
						<div class="w3layouts_site_map_left_grid1">
							<h4>Overview</h4>
							<ul>
								<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Introduction</a></li>
								<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">NSE Schematic</a></li>
							</ul>
						</div>
						<div class="w3layouts_site_map_left_grid1">
							<h4>Software Vendor</h4>
							<ul>
								<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Empanelled Vendors</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3layouts_site_map_left">
				<div class="w3layouts_site_map_left_grid">
					<h3>Memberships</h3>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Member Help</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Find a Member</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Contact Us</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>New Membership</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Categories of membership</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Eligibility Criteria</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Admission Process &amp; Documents</a>
								<ul>
									<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Set of Documents</a></li>
								</ul>
							</li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Enablement</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Existing Membership</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Authorised Persons</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Connectivity</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">User ID / CTCL ID</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Compliance for Trading Members</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Formats</a></li>
						</ul>
					</div>
				</div>
				<div class="w3layouts_site_map_left_grid">
					<h3>Domestic Investments</h3>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Domestic Investors</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Verify your Trades</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">NSE Mobile Application</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Feedback Form</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Verify SGBs Bids</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Complaints</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Register an E-complaint</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Register a complaint offline</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Complaint / Arbitration Status</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Arbitration</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">About Arbitration</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Arbitration Awards</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Arbitration Hearing</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Disposal of Arbitration proceedings</a></li>
						</ul>
					</div>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Defaulters</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Defaulter / Expelled Members</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Defaulters' Committee</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Public Notice</a></li>
						</ul>
					</div>
				</div>
				<div class="w3layouts_site_map_left_grid">
					<h3>International Invest</h3>
					<div class="w3layouts_site_map_left_grid1">
						<h4>Investing</h4>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Regulatory Framework</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Opening an Account</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">How to connect to NSE</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Trading on NSE</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Clearing and Settlement</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Risk Management</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="/single/">Costs and Taxation</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //site-map -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<ul class="agileits_w3layouts_footer_info">
			<li><a href="/home/">Home</a><i>|</i></li>
			<li><a href="/news/">Markets</a><i>|</i></li>
			<li><a href="/portfolio/">portfolio</a><i>|</i></li>
			<li><a href="/about/">About Us</a><i>|</i></li>
			<li><a href="/sitemap/">sitemap</a></li>
		</ul>
	</div>
</div>
<!-- //footer -->
<!-- script for marque -->
	<script>
	  $('.marquee').marquee({
		gap: 100,
		delayBeforeStart: 0,
		direction: 'left',
		duplicated: true,
		pauseOnHover: true
	});
	</script>
	
<!-- //script for marque -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>