{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="{% static "image-dsb/favicon.ico" %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title></title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static "css-dsb/bootstrap.min.css" %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static "css-dsb/animate.min.css" %}"rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static "css-dsb/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static "css-dsb/demo.css" %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css-dsb/pe-icon-7-stroke.css" %}" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="{% static "image-dsb/sidebar-5.jpg" %}">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/equity/" class="simple-text">
                    Live Market Watch
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard/">
                        <i class="pe-7s-graph"></i>
                        <p>MArket Watch</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/user/">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/past-transaction/">
                        <i class="pe-7s-note2"></i>
                        <p>Past Transaction</p>
                    </a>
                </li>
                <li>
                    <!-- <a href="typography.html"> -->
                        <!-- <i class="pe-7s-news-paper"></i> -->
                        <!-- <p>Typography</p> -->
                    <!-- </a> -->
                <!-- </li> -->
                <!-- <li> -->
                    <!-- <a href="icons.html"> -->
                        <!-- <i class="pe-7s-science"></i> -->
                        <!-- <p>Icons</p> -->
                    <!-- </a> -->
                <!-- </li> -->
                <!-- <li> -->
                    <!-- <a href="maps.html"> -->
                        <!-- <i class="pe-7s-map-marker"></i> -->
                        <!-- <p>Maps</p> -->
                    <!-- </a> -->
                <!-- </li> -->
                <!-- <li> -->
                    <!-- <a href="notifications.html"> -->
                        <!-- <i class="pe-7s-bell"></i> -->
                        <!-- <p>Notifications</p> -->
                    <!-- </a> -->
                <!-- </li> -->
				<!-- <li class="active-pro"> -->
                    <!-- <a href="upgrade.html"> -->
                        <!-- <i class="pe-7s-rocket"></i> -->
                        <!-- <p>Upgrade to PRO</p> -->
                    <!-- </a> -->
                <!-- </li> -->
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">User Profile</a>
                </div>
                <div class="collapse navbar-collapse">
                    

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="/home/">
                               Home
                            </a>
                        </li>
                        <li>
                            <a href="/logout/">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Username/Email (disabled)</label>
                                                <input type="text" class="form-control" disabled placeholder="Email" value="{{ details.2 }}">
                                            </div>
                                        </div>
                                       
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Full Name</label>
                                                <input type="text" class="form-control" placeholder="Name" value="{{ details.1 }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <input type="text" class="form-control" placeholder="Number" value="{{ details.5 }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Balance</label>
                                                <input type="text" class="form-control" disabled placeholder="Balance" value="{{ details.4 }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

									   <div class="col-md-12">
										<input type="checkbox" name="fancy-checkbox-primary"   autocomplete="off" {% if details.6 == True %} checked {% endif %}/>

                
										<label for="fancy-checkbox-primary" >
										Two Step Verification
										</label>
										</div>
										
                                    </div>

                                    

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content" style= "min-height: 80px;">
                                <div class="author">
                                     <a href="#">
                                        <h4 class="title" style="padding-top:67px;">{{ details.1 }}<br/>
                                         <small>{{ details.2 }}</small>
                                      </h4>
                                    </a>
                                </div>
                               
                            </div>
                            <hr>
							<center style="padding-top: 2px;padding-bottom:7px;">
                                <form action="/add-balance/" method="post">
							<button type="submit" class="btn btn-primary" border-color: #FFFFFF; style= "color: white; background-color: #42d0ed; border-color: white; float">Add Balance</button>
                                </form>

                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static "js-dsb/jquery-1.10.2.js" %}" type="text/javascript"></script>
	<script src="{% static "js-dsb/bootstrap.min.js" %}" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{% static "js-dsb/bootstrap-checkbox-radio-switch.js" %}"></script>

	<!--  Charts Plugin -->
	<script src="{% static "js-dsb/chartist.min.js" %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static "js-dsb/bootstrap-notify.js" %}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="{% static "js-dsb/light-bootstrap-dashboard.js" %}"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="{% static "js-dsb/demo.js" %}"></script>

</html>
